@import url(menuAdministrador.css);
*{	
margin: 0;
padding: 0;
}
body{
	font-family: sans-serif;
	/*position: relative;*/
}
#contenedor{
top:0;
left: 0;
display: flex;
}

/*comenzando con los datos que se mostraran dependiendo de la opcion del administrador*/
#nombre_informacion{
width: 100%;
background-color: #fff;
text-align: center;
align-content: center;
}
#nombre_informacion h1{
padding-bottom: 30px;
padding-top: 30px;
}
/*este es el icono de el administrador admin en el principal*/
.icon-user-tie{
	color:#328AFF;
}
/*El tipo de letra que se le da al admin*/
.text-titles{
	font-family: 'RobotoCondensedLight'
}

#datos{
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover; 
 background-image: url("../images/fondos/administrador.jpg");
/*padding:10px;*/
margin: auto;
/*margin-left: 270px;*/
margin-top: 50px;
width: 100%;
height: 100vh;
/*box-sizing: border-box;*/

}
#datos p {
padding:10px;
padding-top: 4px; 
text-align: justify;
color: #000000;
background: #fff;
border-bottom-left-radius:20px;
border-bottom-right-radius: 20px;
}
b{
background: #F9F6F6;	
}
#datos #nombre{
	text-align: center;
	background: #F9F6F6;
	border-radius:0px;


}

/*trabajando las dimenciones de la tablet y la pc*/
@media (min-width: 450px){

#nombre_informacion{
	font-size: 20px;
}
#help #contenedor_help{
	font-size: 20px;
	width:60%;
}
#help #contenedor_help #body_help{
	font-size: 12px;
}
#help #titulo_help{
	padding-bottom: 5px;
}
#help #footer_help{
	margin-top:6px; 
}
#buscar #contenedor_buscar{
	width: 50%;
}
}
@media (min-width: 720px){
#help #contenedor_help #body_help{
	font-size: 13px;
	padding:10px 0px 10px 0px;
}
#help #titulo_help{
	padding-bottom: 12px;
}
#help #footer_help{
	margin-top:12px; 
}
}
@media (min-width:900px){
#datos{
	width:80%;
	margin-left: 270px;
}
#menu{
top:0;
transform: translateX(0%);
}
.icon-menu{
	display: none;
}
#help #contenedor_help{
height:50%;
}
}
/******************************/
/*
::-webkit-scrollbar-track-piece
{
	background-color: transparent;
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 5px;
	background-color: transparent;/*#F5F5F5;*/
/*}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}*/
