
*{
	margin:0 auto;
	padding: 0;

}
body{
background-image: url("../images/fondos/catalogoProducto.jpg");
background-size: 100vw 100vh;
background-attachment: fixed;
margin: 0;
display: flex;
min-height: 100vh;
flex-wrap: wrap;

}

h4{
	text-align: center;
	margin: auto;
}
/*Este es el main principal de los datos los cuales se cargan todos los datos*/
#principal{
	width: 90%;
	height: 90%;
	margin-top: 80px;
	border: 2px solid black;
	background: #fff;
	/*border-radius:8px;*/
	/*flex-wrap: wrap;
	display: flex; 
*/
}
/*Es el contenedor del principal de los datos*/
.contenedor_principal img{
	width: 100px; 
	margin-top: 4px;
	/*border: 1px solid red;*/
	margin-left:8%;  
}
.contenedor_principal{
	padding: 10px;
}
/*fin de contenedor de principal de los datos del contenido*/

/*Un contenedor que tiene el de ver carr y la imagen el div*/
#contenedor_imagen{
	background:rgba(51,51,51,0.5);
	justify-content: center;
	border: 1px solid black;
	border-radius: 7px;
	width:60%;
	margin-bottom: 2px;
	/*flex-wrap: wrap;
	display: flex;*/
}
/*terminacion del contenedor de imagen terminado*/

/*Comienzo de los datos de el boton de ver detalles el div y el boton.*/
#contenedor_imagen #ver{
	margin-bottom: 4px;
	width: 50%;

}
#contenedor_imagen #ver a{
	padding: 4px;
	display: block;
	/*margin:2px 25px 4px 38px;*/
	text-decoration: none;
	text-align: center;
	background: #79F6D7;
	border-radius: 3px;
	border: 1px solid #53F6F9;
	color: #fff;
	font-size: 12px;
}
#contenedor_imagen #ver a:hover{
	font-size: 10px;
	background: #7FFACE;
	cursor: pointer;
	animation-direction: width;
	animation: 2s;
	animation-delay: 2s;
	}
/*fin del contenedor de ver los datos con el modal osea los detalles del articulo*/

/*contenedor que posee la imagen el url de la imagen*/
#contenedor_imagen #imagen{
	margin-top: 4px;
	width:90%;
	height: 90px;
	
}
/*trabajando con las proporciones de la imagen del div*/
#contenedor_imagen #imagen img{
	width:100%;/*para que agarre el 100 del div que lo contiene*/
	height:88px;/*para que agarre el 90px del div que lo contiene*/
	display: block;
	margin: auto;
	border:2px solid black;
	border-radius: 3px;
}
/*terminando el div de imagen.*/

/*trabajando con el div de carrito para hacer.*/
#contenedor_imagen #carr{
	margin-bottom: 4px;
	width: 50%;
}
#contenedor_imagen #carr a{
	padding: 2px;
	display: block;
	/*margin:2px 25px 4px 38px;*/
	text-decoration: none;
	text-align: center;
	background: #8CEF83;
	border-radius: 3px;
	border: 1px solid #64FB48;
	color: #fff;
}
#contenedor_imagen #carr a:hover{
	font-size: 12px;
	background: rgba(255,255,255,0.3);
	cursor: pointer;
	animation-direction: width;
animation: 2s;
	animation-delay: 2s;
	color:black;
}
/*terminacion del carrito de compras..*/

/*contenedor principal del titulo*/
.contenedor_principal #til{
	padding:4px;
	width: 100%;
	background:#27F9CD;
	margin-bottom: 4px;
	text-align: center;
	border: 2px solid black;
	border-radius: 10px;
}
/*terminacion del titulo principal*/

/*comienzo del arreglo del meni princpipal*/
.menu a{
	background: rgba(41,41,41,0.8);
}
.menu a:hover{
	color:black;
}
/*fin del arreclo del menu principal*/
/*es para modificar unos datos que no calsan en el footer*/
.sociales{
	font-size: 28px;
	width: 100%;
	text-align: center;
}
.sociales a{
color: #392323;
text-decoration: none;

}
/*la terminacion de los datos del footer*/

/*datos del modal para ver las cosas*/
#modal_informacion{

padding-top: 80px; /*80px 20px 80px 20px;*/
width: 100%;/*para lo que es de derecha a izquierda*/
height: 100vh;/*anchura de arriba a bajo*/
color : #fff;/*para el color del texto*/
position: fixed;
background-color: rgba(0,0,0,0.6);/*color de fondo de pantalla*/
top:0px;/*es la parte de arriba que se pocicione al principio*/
left:0px;/*izquierda en el borde se adacte a la pantalla*/
transition-property: width;
transition:0.5s;
/*display: none;*/
}
#informacion{
	width: 90%;
	height: 95%;
	margin:auto;
	background: white;/*color de la ventana*/
	border-radius: 10px;
	color:black;
	display: flex;
	flex-wrap: wrap;
	overflow: auto;
}

#informacion #imagen{
	margin:2px 10px 4px 10px;
	width: 100%;
	height: 100px;
	border: 2px solid black;
	border-radius: 30px;
}
#informacion #imagen img{
	width:100%;/*para que la imagen tome el 100 del div que la contiene*/
	height: 100px;/*para que la imagen tome el alto del div*/
	display: block;/*para poder quitar el flex y tener la posivilida de centrar elementos*/
	/*centra el elemento del div*/
	/*border-radius: 50%;*/
	align-content: center;
}
#informacion #tabla{
	width: 100%;
}

#informacion #titulo{
	margin:0;
	text-align: center;
	width: 100%;
	height: 80px;
	background: #76E3F6;
	border-bottom-right-radius:10px;
	border-bottom-left-radius: 10px;
	padding: 8px;
}

#informacion label{
	width: 100%;
	margin:auto;
	display: flex;
	padding-left: 10px;
}
#informacion #agregar,#cancelar{
	width: 45%;
	padding: 0;
	margin: 4px;
	display: flex;
	border: 2px solid black;
	border-radius:30px;
}
#informacion #agregar{
	background: #77F37D;
	color:#fff;
}
#informacion #cancelar{
background:#FC4047;
color:#fff;
}
#informacion #descripcion{
	width: 100%;
	font-size: 8px;
	margin:4px;
	padding: 4px;
	text-align: justify;
}
/*Informacion de los datos del modal final*/

/*Esto es para que se haga response los datos de la ventana principal.*/
@media (min-width:420px){
#informacion #imagen{
height: 125px;
width: 60%;
margin: auto;
}
#informacion #cancelar{
	font-size: 14px;
	padding: 10px;
	margin-right: 0;
	margin-left: 20px;
}
#informacion #agregar{
font-size: 14px;
margin-left: 10px;
	padding: 10px;	
}
}
@media (min-width:480px){
#informacion{
	width: 70%;
}
.contenedor_principal{
	width: auto;
	height: auto;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	border: 2px solid black;
}
.contenedor_principal #contenedor_imagen #imagen img{
	width: 120px; 
	margin: auto;

	/*border: 1px solid red;*/
	  
}
#contenedor_imagen{
	width: 40%;
}
}

@media (min-width:900px){
#informacion{
	width: 50%;
}
#contenedor_imagen #ver{
	display:flex;
	
}
#contenedor_imagen #carr{
	display: flex;
	
}
#contenedor_imagen h4{
	text-align: center;
	width: 100%
}
/*#principal #ver{
	border-radius: 8px;
	margin-left: 32%;
	padding:4px;
}*/
#contenedor_imagen{
	width: 20%;
	display: flex;
	flex-wrap: wrap;
}
}
