
*{
	margin:0 auto;
	padding: 0;

}
body{
background-image: url("../images/fondos/catalogoProducto.jpg");
background-size: 100vw 100vh;
background-attachment: fixed;
margin: 0;
display: flex;
min-height: 100vh;
flex-wrap: wrap;

}

h4{
	text-align: center;
	margin: auto;
}
#principal{
	width: 90%;
	height: 90%;
	margin-top: 80px;
	border: 2px solid black;
	background: #fff;
	border-radius:8px; 

}
#principal #ver{
	border-radius: 3px;
	border: 1px solid #04FB78;
	margin-left: 28%;
	text-align: center;
	margin-bottom: 4px;
	background: #2CF746;
	padding:2px;

}
#principal #ver:hover{
	font-size: 12px;
	background: #7FFACE;
	cursor: pointer;
	animation-direction: width;
	animation: 2s;
	animation-delay: 2s;
	}
#principal article{
	background:rgba(51,51,51,0.5);
	justify-content: center;
	border: 1px solid black;
	border-radius: 7px;
	width:60%;
}

#blog{
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	/*border: 1px solid black;*/
	border-radius: 7px;
}
.contenedor img{
	width: 100px; 
	margin-top: 4px;
	/*border: 1px solid red;*/
	margin-left:8%;  
}/*es para modificar unos datos que no calsan en el footer*/
.sociales{
	font-size: 28px;
	width: 100%;
	text-align: center;
}
.sociales a{
color: #392323;
text-decoration: none;

}
/*la terminacion de los datos del footer*/
.contenedor{
	padding: 10px;
}
@media (min-width:500px){
#principal article{
	width:auto;
	margin-bottom: 5px;
}	
.contenedor{
	display: flex;
	flex-wrap: wrap;
}
.contenedor img{
	width: 120px; 
	margin: 6px;
	/*border: 1px solid red;*/
	  
}

}
@media (min-width:900px){
#principal article{
	width:20%;
}	
#blog img{
	border-radius: 10px;
	margin-left:10%;  
}
#principal #ver{
	border-radius: 8px;
	margin-left: 32%;
	padding:4px;
}

}