/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/01/2018, 10:32:06 PM
    Author     : Juan Rodríguez
*/
.table {
    width: 60%;
    border: 2px solid #000;
}
.th {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
    caption-side: bottom;
    background-color: greenyellow;
    font-size: 2px;
}
.td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
    caption-side: bottom;
}
.caption {
    padding: 0.3em;
    color: #fff;
    background: #000;
}
.th {
    background: #eee;
}
.table-hover{
    text-align: left;
    
}
.form-group{
    display: inline-block;
    width: 250px;
    text-align: left;
}
.form-control{
    display: inline-block;
    float: right;
}
.btn-default{
    float: center;
    clear: center;
    width: 100px;
    text-align: center;
    }
.add{
    font-size: medium; 
	color: light-blue;
}
.navbar-nav{
    
}
.enlace{
    list-style:none;
}
.ver{
    color:black;
}
h2{
	color: #577785;
}