@import url(menuAdministrador.css);
*{
	margin:0;
	top:0;
}
body{
width:100%;
height:100vh;
font-family: sans-serif;
	/*width: 100%;
	height: 100vh;*/
}
#contenedor{
	width:100%;
	height:100%;
	top:0;
	left: 0;
	display: flex;
	flex-wrap: wrap;
	margin:auto;
	/*background: red;*/
	
}

/*dando los parametros del div principal de factura*/

/*terminando cone l div de principal que contiene todos los datos del factura*/

/*comensando con el div de la informacion de el div de factura*/
#titulo_principal{
	width: 100%;
	margin:auto;
	background:#A8F1F9;
	padding: 10px 0px 0px 0px;
	margin-top: 50px;
	margin-bottom: 0px;
	text-align: center;
	border-bottom: 2px solid black;
	box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
	height: 60px;
}
/*Terminando el div de informacion de factura.*/

/*comensando con el div de buscar la factura  en la base de datos*/
 #body_principal{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	height:30px;
	/*margin: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	/*padding: 20px;*/
	/*box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
	
	height: 60px;
	top:0;
	/*background: transparent;*/
	padding: 10px 0px 10px 0px;/*para los lados de adentro del input buscar*/
}

#body_principal label{
width: 70%;
margin:0px 0px 0px 0px;
text-align: center;
}
#body_principal .btn-nuevo{
text-align: center;
margin: 0px 0px 0px 0px;
width:20%;
color: white;
background: #0BFA37;
border:1px solid #08FF56;
border-radius:10px;
}
#body_principal .btn-nuevo:hover{
cursor: pointer;
}
/*terminacion del div de buscar facturas*/

/*trabajano con el div de la tabla de mostrar los datos.*/
#tabla_principal{
padding: 10px 0px 0px 10px;
border-top: 2px solid black;
box-sizing: border-box;
top:0;
left:0;
/*border: 1px solid red;*/
width:90%;
height: 90%;
margin: auto;
margin-top: 0;
overflow: auto;	
}
/*comenzando la tabla*/
#lista_factura{
width: 100%;
margin-top: 10px;
margin-left: 10px;
margin-right: 10px;
border-collapse: collapse;
text-align: center;	
}
#lista_factura tfoot th{
	border-right: 1px solid black;
	background-color:#05D6FC;
	/*border: 2px solid black;*/
}
#lista_factura thead{
text-align: left;
background-color:#05D6FC; /*#246355;*/
border-bottom: 2px solid black;
}
#lista_factura thead th{
	text-align: center;
	border-right: 1px solid black;
}
#lista_factura td,th{
	padding: 15px 0px 15px 0px;
}
#accion-btn{
text-align: center;
border-left: 1px solid black;
}
#lista_factura_paginate{
position: relative;
border-top: 2px solid black;
border-bottom: 2px solid black;
margin-left:10px; 
background: #fff;
}
#lista_factura_paginate a{
padding: 10px;
margin: auto;
align-content: right;
float:right;
border: 1px solid #05D6FC;
margin-top: 10px;
margin-right: 10px;
font-size: 15px;
border-radius: 10px;
background-color:#05D6FC;
color:#fff;
}
#lista_factura_paginate a:hover{
	cursor: pointer;
	font-size: 12px;
}
/*terminando con la tabla*/
#tabla_principal #tabla{

box-sizing:  border-box;
border: 1px solid black;
text-align:left;
width:95%;
background-color: #fff;
border-collapse:collapse;
margin: auto;
margin:0px 10px 0px 10px;
}
#tabla_principal #tabla td,th{
	padding: 15px 0px 15px 0px;
}
#tabla_principal #tabla thead{
background-color:#05D6FC; /*#246355;*/
border-bottom: 2px solid black;
}
#tabla_principal #tabla th{
text-align: center;
}
#tabla_principal #tabla tr:nth-child(even){
background-color: #ddd;
}
#tabla_principal #tabla tr:hover td{
background-color:#369681;
color:#fff;
cursor:pointer; 
}
#btn-accion{
	text-align: center;
}
#btn-accion a{
color: black;
text-decoration: none;
/*border: 2px solid black;*/
font-size: 25px;
margin-right: 4px;
}
#btn-accion a:hover{
cursor:pointer;
}

/*terminando con el div de buscar persona.*/
@media (min-width:450px){

}
@media (min-width:900px){
#menu{
top:0;
transform: translateX(0%);
}
#titulo_principal{
width:80%;
margin-left: 270px;
}
#body_principal{
width:80%;
margin-left: 270px;	
}
#tabla_principal{
width:80%;
margin-left: 270px;
}
.icon-menu{
	display: none;
}
#principal{
	margin-left: 25%;
}
}